@{
    ViewBag.Title = "Login";
}

@model breakthrough.Models.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card mt-5 mb-lg-5">
                <div class="card-body shadow-lg">
                    <h2 class="text-center mb-4">Log in to your Account</h2>
                    <form asp-action="Login" method="post" asp-controller="Home">
                        <div class="mb-3">
                            <input id="floatingEmail" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" type="email" name="Email" placeholder="Enter Email" required />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <input id="floatingPassword" class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" type="password" name="Password" placeholder="Enter Password" required />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Login</button>
                        </div>
                    </form>

                    <hr />

                    <div class="d-grid gap-2">
                        <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-link">Forgot Password?</a>
                        <a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-success">Create New Account</a>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>