<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <title>@ViewBag.Title - Breakthrough Church System</title>
    @Styles.Render("~/Content/bootstrap-lumen.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<nav class="navbar navbar-expand-lg bg-primary clearfix" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="~/images/bcfLogo.jpg" alt="Church Logo" class="mr-3" style="height: 50px;" />
            Breakthrough Church System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "") })
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Dashboard", "Account", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Dashboard" ? "active" : "") })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Register" ? "active" : "") })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Login" ? "active" : "") })
                    </li>
                }
            </ul>
            
        </div>
    </div>
</nav>
<div class="container-fluid body-content">
    @RenderBody()
    <hr/>
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - Breakthrough BCF Church System</p>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
