<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Breakthrough Church System</title>
    @Styles.Render("~/Content/bootstrap-lumen.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark clearfix" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="~/images/bcfLogo.jpg" alt="Church Logo" class="mr-3 rounded-circle" style="height: 50px; width: 50px;" />
                Breakthrough Church System
            </a>

            <button class="navbar-toggler mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Dashboard", "Dashboard", "Leader", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Dashboard" ? "active" : "") })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Activities", "Activities", "Leader", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Activities" ? "active" : "") })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Calendar", "Calendar", "Leader", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Calendar" ? "active" : "") })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Notifications", "Notifications", "Leader", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "Notifications" ? "active" : "") })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Message", "Message", "Leader", new { area = "" }, new { @class = "nav-link " + (ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "") })
                    </li>
                    <!-- Other nav items -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="true">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li>@Html.ActionLink("My Profile", "Profile", "Leader", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Events", "Events", "Leader", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("About", "About", "Leader", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Leader", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 350px;">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Breakthrough BCF Church System</p>
    </footer>

    <!-- Ensure Bootstrap script is loaded last -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
